<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Jokes</title>
    <link rel="stylesheet" href="styles.css" />
  </head>
  <body>

    <nav>
      <a href="/write/jokes">Write a joke</a>
    </nav>
    <h1>Dormitorio</h1>

    <p><%= value %></p>
    <p class="p1"><%= name %></p>
    <p class="p1"><%= ip %></p>
    <p class="p1"><%= hostname %></p>
    <p class="p1"><%= requestTime %></p>
    

    <button id="refreshButton">Another One</button>
    <script>
      const refreshButton = document.querySelector("#refreshButton");

      refreshButton.addEventListener("click", () => {
        window.location.reload();
      });
    </script>
  </body>
</html>
